:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.column-2 {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.5rem;
}

img {
  border-radius: 6px;
}
